.timer {
    display: flex;
    font-size: 2.5rem;
    margin: 1.3rem;
}

@media screen and (min-width: 375px) and (max-width: 480px ) {
	.timer{
        margin-top: 4rem;
        margin-left: 5.6rem;
        font-size: 1.25rem;
    }
}